body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

h1, h3 {
    color: inherit;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 40px;
    max-height: 40vh;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.nav a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    transition: color 0.3s;
}

.nav button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav button:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .nav {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode .nav a {
    color: #bb86fc;
}

.dark-mode .nav button {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode .nav button:hover {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode input[type="text"],
.dark-mode textarea {
    background-color: #333;
    color: #e0e0e0;
    border-color: #555;
}

.dark-mode input[type="submit"] {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode input[type="submit"]:hover {
    background-color: #bb86fc;
    color: #121212;
}
