* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
}

form {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    max-height: 40vh;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode header {
    background-color: #111;
}

.dark-mode nav {
    background-color: #222;
}

.dark-mode nav a {
    color: #bb86fc;
}

.dark-mode button {
    background-color: #bb86fc;
}

.dark-mode button:hover {
    background-color: #9e5cb2;
}

.dark-mode form {
    background-color: #333;
    border-color: #555;
}

.dark-mode textarea {
    background-color: #333;
    color: #e0e0e0;
    border-color: #555;
}
