body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

h1, h3 {
    color: inherit;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.file button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.file button:hover {
    color: #ff3333;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.nav a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
    transition: color 0.3s;
}

.nav button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav button:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-mode .file {
    background-color: #333;
}

.dark-mode .nav {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode .nav a {
    color: #bb86fc;
}

.dark-mode .nav button {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode .nav button:hover {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode .file button {
    color: #bb86fc;
}

.dark-mode .file button:hover {
    color: #ff3333;
}
